<%- include('partials/header') %>

<h1>Dodaj nowy produkt</h1>
<form action="/products/add" method="POST">
  <label>Nazwa:</label><br>
  <input type="text" name="name" required><br><br>

  <label>Opis:</label><br>
  <textarea name="description" required></textarea><br><br>

  <button type="submit">Dodaj produkt</button>
</form>

<%- include('partials/footer') %>
