<nav class="navigation">
    <a href="/" class="navigation__logo">Shop</a>
    <div class="navigation__cart">
      <a href="#">
        <span class="navigation__cart-icon">Cart</span>
        <span class="navigation__badge"><%= cartCount %></span>
      </a>
    </div>
  </nav>
  